{{#each err}}
    <div class="alert alert-danger">{{err}} </div>
{{else}}
{{/each}}

<div class="card">
    <div class="card-body">
        <form action="/admin/posts/new" method="POST">
            <h2>New Post</h2><br>
            <label for="title">Títle: </label>
            <input type="text" name="title" class="form-control">
            <label for="slug" class="mt-4">Slug</label>
            <input type="text" name="slug" class="form-control">
            <label for="description" class="mt-4">Description:</label>
            <input type="text" name="description" class="form-control">
            <label for="content" class="mt-4">Content:</label>
            <textarea name="content" class="form-control"></textarea>
            <label for="category" class="mt-4">Category: </label>
            <select name="category" class="form-control">
                {{#each categories}}
                    <option value="{{_id}}">{{name}} </option>
                {{else}}
                    <option value="0">None category registred.</option>
                {{/each}}
            </select>
            <button class="btn btn-success mt-5" type="submit">Create post</button>
        </form>
    </div>
</div>